<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Player Page</title>

   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/x-icon" href="/images/fsrs.png">

</head>
<body>
    <!-- navbar -->
    <nav>
      <div class="container">
          <a href="/"><img src="./images/fsrs.png" class="logo" alt="logo"></a>
          <div class="search-bar">
              <span class="material-icons-sharp">search</span>
              <input type="search" placeholder="Search">
          </div>
          <div class="profile-area">
              <button id="menu-btn">
                  <span class="material-icons-sharp">menu</span>
              </button>
          </div>
      </div>
  </nav>

  <!-- main -->

  <main>

      <!-- aside -->
      <aside>
          <button id="close-btn">
              <span class="material-icons-sharp">close</span>
          </button>
          <div class="sidebar">
              <% if (user) { %>
                  <div class="profile-area">
                      <div class="profile-photo">
                          <img src="<%= user.profileImage %>" alt="<%= user.fullName %> Profile Picture">
                      </div>
                      <div class="profileName">
                          <h3> <%= user.fullName %> </h3>
                      </div>
                      <a href="#">
                          <span class="material-icons-sharp">settings</span>
                          <h4>Edit</h4>
                      </a>
                  </div>
                  <%} else { %>
                      <a href="/login" class="">
                          <span class="material-icons-sharp">login</span>
                          <h4>Login/Sign Up</h4>
                      </a>
                  <%} %>
              <a href="/" class="active"> 
                  <span class="material-icons-sharp">dashboard</span>
                  <h4>Dashboard</h4>
              </a>
              <a href="/deal">
                  <span class="material-icons-sharp">currency_exchange</span>
                  <h4>Deals</h4>
              </a>
              </a>
              <a href="/information">
                  <span class="material-icons-sharp">help_center</span>
                  <h4>Information</h4>
              </a>
              <% if (user) {%>
              <a href="/logout">
                  <span class="material-icons-sharp">logout</span>
                  <h4>Logout</h4>
              </a>
              <%} %>
          </div>
      </aside>

        <!--Middle Section-->
        <section class="middle">
            <main class="table" id="customers_table">
            
              <section class="table__body">
                <div class="addForm">
                  <form enctype="multipart/form-data" action="/addplayer">
                    <h1>Add Player</h1>
                    <br>
                    <label for="playerImage">Player Image</label>
                    <input type="file" name="playerImage" />
                    <div class="playerImage error"></div>
                    <br>
                
                    <lable for="playerName">playerName</lable>
                    <input type="text" name="playerName"/>
                    <div class="playerName error"></div>
                    <br>
                
                    <lable for="position">position</lable>
                    <input type="text" name="position"/>
                    <div class="position error"></div>
                    <br>
                
                    <lable for="dob">dob</lable>
                    <input type="date" name="dob"/>
                    <div class="dob error"></div>
                    <br>
                
                    <lable for="transferPrice">transferPrice</lable>
                    <input type="text" name="transferPrice"/>
                    <div class="transferPrice error"></div>
                    <br>
                
                
                    <label for="team">Select an Team:</label>
                    <select id="team" name="team">
                      <% team.forEach(team => { %>
                        <option value="<%= team._id %>" name="team"><%= team.teamName %></option>
                      <% }); %>
                    </select>
                    <div class="team error"></div>
                    <br>
                    <button type="submit">Add</button>
                </form>
                
                  <script>
                    const form = document.querySelector('form');
                    // read the error
                    const playerImageError = document.querySelector('.playerImage.error');
                    const playerNameError = document.querySelector('.playerName.error');
                    const positionError = document.querySelector('.position.error');
                    const dobError = document.querySelector('.dob.error');
                    const transferPriceError = document.querySelector('.transferPrice.error');
                
                    form.addEventListener('submit', async (e) => {
                        e.preventDefault();
                        //reset errors
                        playerImageError.textContent = '';
                        playerNameError.textContent = '';
                        positionError.textContent = '';
                        dobError.textContent = '';
                        transferPriceError.textContent = '';
                
                        // Create a FormData instance
                        const formData = new FormData();
                        formData.append('playerName', form.playerName.value);
                        formData.append('position', form.position.value);
                        formData.append('dob', form.dob.value);
                        formData.append('transferPrice', form.transferPrice.value);
                        formData.append('team', form.team.value);
                        if (form.playerImage.files.length > 0) {
                          formData.append('playerImage', form.playerImage.files[0]);
                        }
                
                        console.log(formData);
                        
                        try{
                            const res = await fetch('/addplayer', {
                                method: 'POST',
                                body: formData, // Send the form data
                            });
                            const data = await res.json();
                            console.log(data);
                
                            if (data.errors){
                                playerImageError.textContent = data.errors.playerImage;
                                playerNameError.textContent = data.errors.playerName;
                                positionError.textContent = data.errors.position;
                                dobError.textContent = data.errors.dob;
                                transferPriceError.textContent = data.errors.transferPrice;
                            }
                            else{
                                descriptionError.textContent = ('Added successfully');
                            }
                        }
                        catch (err){
                            console.log(err);
                        }
                    });
                  </script>
                </div>
              </section>
            </main>

            <section class="footer">

              <div class="box-container">
        
                  <div class="box">
                      <h3>extra links</h3>
                      <a href="/information#aboutUs"> <i class="fas fa-arrow-right"></i> about us </a>
                      <a href="/information#copyRight"> <i class="fas fa-arrow-right"></i> copyright </a>
                      <a href="/information#privatePolicy"> <i class="fas fa-arrow-right"></i> privacy policy </a>
                      <a href="/information#paymentMethod"> <i class="fas fa-arrow-right"></i> payment method </a>
                  </div>
        
                  <div class="box">
                    <h3>contact info</h3>
                    <a href="https://www.facebook.com/profile.php?id=100010671730129" target="_blank"> <i class='far fa-id-badge'></i> Dang Trung Hieu - s3911594 </a>
                    <a href="https://www.facebook.com/hieule2712" target="_blank"> <i class='far fa-id-badge'></i> Le Trung Hieu - s3818683 </a>
                    <a href="https://www.facebook.com/profile.php?id=100015410506068" target="_blank"> <i class='far fa-id-badge'></i> Luu Van Thien Toan - s3979512 </a>
                    <a href="https://www.facebook.com/profile.php?id=100014016729432" target="_blank"> <i class='far fa-id-badge'></i> Dang Quoc Thang - s3977877 </a>
                </div>
        
              </div>
        
              <div class="credit"> created by <span>Group 6</span> | all rights reserved! </div>
        
          </section>
                
                  

