<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>

   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/x-icon" href="/images/fsrs.png">

</head>
<body>
    <!-- navbar -->
    <nav>
        <div class="container">
            <a href="/"><img src="./images/fsrs.png" class="logo" alt="logo"></a>
            <div class="search-bar">
                <span class="material-icons-sharp">search</span>
                <input type="search" placeholder="Search">
            </div>
            <% if (user) { %>
            <div class="profile-area">
                <button id="menu-btn">
                    <span class="material-icons-sharp">menu</span>
                </button>
            </div>
            <%} else { %>
                <a href="/login" class="">
                    <span class="material-symbols-outlined">
                        login
                    </span>
                </a>
            <%} %>
        </div>
    </nav>

    <!-- main -->

    <main>

        <!-- aside -->
        <aside>
            <button id="close-btn">
                <span class="material-icons-sharp">close</span>
            </button>
            <div class="sidebar">
                <% if (user) { %>
                    <div class="profile-area">
                        <div class="profile-photo">
                            <img src="<%= user.profileImage %>" alt="<%= user.fullName %> Profile Picture">
                        </div>
                        <div class="profileName">
                            <h3> <%= user.fullName %> </h3>
                        </div>
                        <a href="#">
                            <span class="material-icons-sharp">settings</span>
                            <h4>Edit</h4>
                        </a>
                    </div>
                    <%} else { %>
                        <a href="/login" class="">
                            <span class="material-symbols-outlined">
                                login
                            </span>
                        </a>
                    <%} %>
                <a href="#" class="active">
                    <span class="material-icons-sharp">dashboard</span>
                    <h4>Dashboard</h4>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">currency_exchange</span>
                    <h4>Market</h4>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">pie_chart</span>
                    <h4>Analytics</h4>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">help_center</span>
                    <h4>Help Center</h4>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">settings</span>
                    <h4>Settings</h4>
                </a>
                <a href="#" onclick="openPopup()">
                    <span class="material-icons-sharp">logout</span>
                    <h4>Logout</h4>
                </a>
            </div>
            <div id="popup" class="popup">
                <div class="popup-content">
                    <span class="close" onclick="closePopup()">&times;</span>
                    <h1>Are you sure you want to log out?</h1>
                    <a href="/logout"><button class="yes" onclick="logout()">Yes</button></a>
                    <button class="no" onclick="closePopup()">No</button>
                </div>
            </div>
        </aside>

        <!--Middle Section-->
        <section class="middle">
            <main class="table" id="customers_table">
            
                <section class="table__body">
                    <table>
                        <thead>
                            <tr>
                                <th> Team </th>
                                <th> Name </th>
                                <th> Squad Size </th>
                                <th> Market Value </th>
                                <th> Avg Players Value </th>
                                <th> Average Age </th>
                                <th> Current Transfer Record </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% team.forEach(team => { %>
                                    <tr>
                                        <td>
                                            <img src="<%= team.teamImage %>" alt="<%= team.teamName %> Image">
                                            
                                        </td>
                                        <td><a href="/team/<%=team.id%>"><%= team.teamName %></a></td>
                                        <td><%= team.squadSize %></td>
                                        <td><%= team.marketValue %></td>
                                        <td><%= team.avgPlayerValue %></td>
                                        <td><%= team.avgAge %></td>
                                        <td><strong><%= team.transferRecord %></strong></td>

                            <%})%>                             
                        </tbody>
                    </table>
                </section>
            </main>
        </section>







    <script src="js/simpleScript.js"></script>
</body>
</html>
