<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>

   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>

    <!-- navbar -->
    <nav>
        <div class="container">
            <img src="img/fsrs.png" class="logo" alt="logo">
            <div class="search-bar">
                <span class="material-icons-sharp">search</span>
                <input type="search" placeholder="Search">
            </div>
            <div class="profile-area">
                <div class="theme-btn">
                    <span class="material-icons-sharp active">light_mode</span>
                    <span class="material-icons-sharp">dark_mode</span>
                </div>
                <div class="profile">
                    <div class="profile-photo">
                        <img src="<%= user.profileImage %>" alt="<%= user.fullName %>'s Profile Picture">
                    </div>
                    <h5><%= fullName %></h5>
                    <span class="material-icons-sharp">expand_more</span>
                </div>
                <button id="menu-btn">
                    <span class="material-icons-sharp">menu</span>
                </button>
            </div>
        </div>
    </nav>

    <!-- main -->

    <main>

        <!-- aside -->
        <aside>
            <button id="close-btn">
                <span class="material-icons-sharp">close</span>
            </button>
            <div class="sidebar">
                <a href="#" class="active">
                    <span class="material-icons-sharp">dashboard</span>
                    <h4>Dashboard</h4>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">currency_exchange</span>
                    <h4>Market</h4>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">pie_chart</span>
                    <h4>Analytics</h4>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">help_center</span>
                    <h4>Help Center</h4>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">settings</span>
                    <h4>Settings</h4>
                </a>
            </div>
            <div class="updates">
                <span class="material-icons-sharp">update</span>
                <h4>Updates Available</h4>
                <small>Security Updates</small>
                <small>General Updates</small>
                <a href="#">Update Now</a>
            </div>
        </aside>

        <!--Middle Section-->
        <section class="middle">
            <main class="table" id="customers_table">
            
                <section class="table__body">
                    <table>
                        <thead>
                            <tr>
                                <th> Team </th>
                                <th> Name </th>
                                <th> Squad Size </th>
                                <th> Market Value </th>
                                <th> Avg Players Value </th>
                                <th> Average Age </th>
                                <th> Current Transfer Record </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><img src="<%= team.teamImage %>" alt="<%= team.teamName %>"></td>
                                <td><%= team.teamName %></td>
                                <td><%= team.squadSize %></td>
                                <td><%= team.marketValue %></td>
                                <td><%= team.avgPlayerValue %></td>
                                <td><%= team.avgAge %></td>
                                <td><strong><%= team.transferRecord %></strong></td>
                            </tr>
                            <tr>
                                <td><img src="<%= team.teamImage %>" alt="<%= team.teamName %>"></td>
                                <td><%= team.teamName %></td>
                                <td><%= team.squadSize %></td>
                                <td><%= team.marketValue %></td>
                                <td><%= team.avgPlayerValue %></td>
                                <td><%= team.avgAge %></td>
                                <td><strong><%= team.transferRecord %></strong></td>
                            </tr>
                            <tr>
                                <td><img src="<%= team.teamImage %>" alt="<%= team.teamName %>"></td>
                                <td><%= team.teamName %></td>
                                <td><%= team.squadSize %></td>
                                <td><%= team.marketValue %></td>
                                <td><%= team.avgPlayerValue %></td>
                                <td><%= team.avgAge %></td>
                                <td><strong><%= team.transferRecord %></strong></td>
                            </tr>
                            <tr>
                                <td><img src="<%= team.teamImage %>" alt="<%= team.teamName %>"></td>
                                <td><%= team.teamName %></td>
                                <td><%= team.squadSize %></td>
                                <td><%= team.marketValue %></td>
                                <td><%= team.avgPlayerValue %></td>
                                <td><%= team.avgAge %></td>
                                <td><strong><%= team.transferRecord %></strong></td>
                            </tr>
                            <tr>
                                <td><img src="<%= team.teamImage %>" alt="<%= team.teamName %>"></td>
                                <td><%= team.teamName %></td>
                                <td><%= team.squadSize %></td>
                                <td><%= team.marketValue %></td>
                                <td><%= team.avgPlayerValue %></td>
                                <td><%= team.avgAge %></td>
                                <td><strong><%= team.transferRecord %></strong></td>
                            </tr>
                            <tr>
                                <td><img src="<%= team.teamImage %>" alt="<%= team.teamName %>"></td>
                                <td><%= team.teamName %></td>
                                <td><%= team.squadSize %></td>
                                <td><%= team.marketValue %></td>
                                <td><%= team.avgPlayerValue %></td>
                                <td><%= team.avgAge %></td>
                                <td><strong><%= team.transferRecord %></strong></td>
                            </tr>
                            <tr>
                                <td><img src="<%= team.teamImage %>" alt="<%= team.teamName %>"></td>
                                <td><%= team.teamName %></td>
                                <td><%= team.squadSize %></td>
                                <td><%= team.marketValue %></td>
                                <td><%= team.avgPlayerValue %></td>
                                <td><%= team.avgAge %></td>
                                <td><strong><%= team.transferRecord %></strong></td>
                            </tr>
                            <tr>
                                <td><img src="<%= team.teamImage %>" alt="<%= team.teamName %>"></td>
                                <td><%= team.teamName %></td>
                                <td><%= team.squadSize %></td>
                                <td><%= team.marketValue %></td>
                                <td><%= team.avgPlayerValue %></td>
                                <td><%= team.avgAge %></td>
                                <td><strong><%= team.transferRecord %></strong></td>
                            </tr>
                            <tr>
                                <td><img src="<%= team.teamImage %>" alt="<%= team.teamName %>"></td>
                                <td><%= team.teamName %></td>
                                <td><%= team.squadSize %></td>
                                <td><%= team.marketValue %></td>
                                <td><%= team.avgPlayerValue %></td>
                                <td><%= team.avgAge %></td>
                                <td><strong><%= team.transferRecord %></strong></td>
                            </tr>
                            <tr>
                                <td><img src="<%= team.teamImage %>" alt="<%= team.teamName %>"></td>
                                <td><%= team.teamName %></td>
                                <td><%= team.squadSize %></td>
                                <td><%= team.marketValue %></td>
                                <td><%= team.avgPlayerValue %></td>
                                <td><%= team.avgAge %></td>
                                <td><strong><%= team.transferRecord %></strong></td>
                            </tr>
                            <tr>
                                <td><img src="<%= team.teamImage %>" alt="<%= team.teamName %>"></td>
                                <td><%= team.teamName %></td>
                                <td><%= team.squadSize %></td>
                                <td><%= team.marketValue %></td>
                                <td><%= team.avgPlayerValue %></td>
                                <td><%= team.avgAge %></td>
                                <td><strong><%= team.transferRecord %></strong></td>
                            </tr>
                            <tr>
                                <td><img src="<%= team.teamImage %>" alt="<%= team.teamName %>"></td>
                                <td><%= team.teamName %></td>
                                <td><%= team.squadSize %></td>
                                <td><%= team.marketValue %></td>
                                <td><%= team.avgPlayerValue %></td>
                                <td><%= team.avgAge %></td>
                                <td><strong><%= team.transferRecord %></strong></td>
                            </tr>
                            <tr>
                                <td><img src="<%= team.teamImage %>" alt="<%= team.teamName %>"></td>
                                <td><%= team.teamName %></td>
                                <td><%= team.squadSize %></td>
                                <td><%= team.marketValue %></td>
                                <td><%= team.avgPlayerValue %></td>
                                <td><%= team.avgAge %></td>
                                <td><strong><%= team.transferRecord %></strong></td>
                            </tr>
                            <tr>
                                <td><img src="<%= team.teamImage %>" alt="<%= team.teamName %>"></td>
                                <td><%= team.teamName %></td>
                                <td><%= team.squadSize %></td>
                                <td><%= team.marketValue %></td>
                                <td><%= team.avgPlayerValue %></td>
                                <td><%= team.avgAge %></td>
                                <td><strong><%= team.transferRecord %></strong></td>
                            </tr>
                            <tr>
                                <td><img src="<%= team.teamImage %>" alt="<%= team.teamName %>"></td>
                                <td><%= team.teamName %></td>
                                <td><%= team.squadSize %></td>
                                <td><%= team.marketValue %></td>
                                <td><%= team.avgPlayerValue %></td>
                                <td><%= team.avgAge %></td>
                                <td><strong><%= team.transferRecord %></strong></td>
                            </tr>
                            <tr>
                                <td><img src="<%= team.teamImage %>" alt="<%= team.teamName %>"></td>
                                <td><%= team.teamName %></td>
                                <td><%= team.squadSize %></td>
                                <td><%= team.marketValue %></td>
                                <td><%= team.avgPlayerValue %></td>
                                <td><%= team.avgAge %></td>
                                <td><strong><%= team.transferRecord %></strong></td>
                            </tr>
                            <tr>
                                <td><img src="<%= team.teamImage %>" alt="<%= team.teamName %>"></td>
                                <td><%= team.teamName %></td>
                                <td><%= team.squadSize %></td>
                                <td><%= team.marketValue %></td>
                                <td><%= team.avgPlayerValue %></td>
                                <td><%= team.avgAge %></td>
                                <td><strong><%= team.transferRecord %></strong></td>
                            </tr>
                            <tr>
                                <td><img src="<%= team.teamImage %>" alt="<%= team.teamName %>"></td>
                                <td><%= team.teamName %></td>
                                <td><%= team.squadSize %></td>
                                <td><%= team.marketValue %></td>
                                <td><%= team.avgPlayerValue %></td>
                                <td><%= team.avgAge %></td>
                                <td><strong><%= team.transferRecord %></strong></td>
                            </tr>
                            <tr>
                                <td><img src="<%= team.teamImage %>" alt="<%= team.teamName %>"></td>
                                <td><%= team.teamName %></td>
                                <td><%= team.squadSize %></td>
                                <td><%= team.marketValue %></td>
                                <td><%= team.avgPlayerValue %></td>
                                <td><%= team.avgAge %></td>
                                <td><strong><%= team.transferRecord %></strong></td>
                            </tr>
                            <tr>
                                <td><img src="<%= team.teamImage %>" alt="<%= team.teamName %>"></td>
                                <td><%= team.teamName %></td>
                                <td><%= team.squadSize %></td>
                                <td><%= team.marketValue %></td>
                                <td><%= team.avgPlayerValue %></td>
                                <td><%= team.avgAge %></td>
                                <td><strong><%= team.transferRecord %></strong></td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </main>
        </section>







    <script src="simpleScript.js"></script>
</body>
</html>