<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>

   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/x-icon" href="/images/fsrs.png">

</head>
<body>
    <!-- navbar -->
    <nav>
        <div class="container">
            <a href="/"><img src="/images/fsrs.png" class="logo" alt="logo"></a>
            <div class="search-bar">
                <span class="material-icons-sharp">search</span>
                <input type="search" placeholder="Search">
            </div>
            <div class="profile-area">
                <button id="menu-btn">
                    <span class="material-icons-sharp">menu</span>
                </button>
            </div>
        </div>
    </nav>

    <!-- main -->

    <main>

        <!-- aside -->
        <aside>
            <button id="close-btn">
                <span class="material-icons-sharp">close</span>
            </button>
            <div class="sidebar">
                <% if (user) { %>
                    <div class="profile-area">
                        <div class="profile-photo">
                            <img src="<%= user.profileImage %>" alt="<%= user.fullName %> Profile Picture">
                        </div>
                        <div class="profileName">
                            <h3> <%= user.fullName %> </h3>
                        </div>
                        <a href="#">
                            <span class="material-icons-sharp">settings</span>
                            <h4>Edit</h4>
                        </a>
                    </div>
                    <%} else { %>
                        <a href="/login" class="">
                            <span class="material-icons-sharp">login</span>
                            <h4>Login/Sign Up</h4>
                        </a>
                    <%} %>
                <a href="/" class="sidebar-link active"> 
                    <span class="material-icons-sharp">dashboard</span>
                    <h4>Dashboard</h4>
                </a>
                <a href="/deal" class="sidebar-link">
                    <span class="material-icons-sharp">currency_exchange</span>
                    <h4>Deals</h4>
                </a>
                <a href="#" class="sidebar-link">
                    <span class="material-icons-sharp">pie_chart</span>
                    <h4>Analytics</h4>
                </a>
                <a href="/information" class="sidebar-link">
                    <span class="material-icons-sharp">help_center</span>
                    <h4>Information</h4>
                </a>
                <a href="#" class="sidebar-link">
                    <span class="material-icons-sharp">settings</span>
                    <h4>Settings</h4>
                </a>
                <% if (user) {%>
                <a href="/logout">
                    <span class="material-icons-sharp">logout</span>
                    <h4>Logout</h4>
                </a>
                <%} %>
            </div>
        </aside>

        <!--Middle Section-->
        <section class="middle">
            <main class="table" id="customers_table">
            
                <section class="table__body">
                    <table>
                        <thead>
                            <tr>
                                <th> Team </th>
                                <th> Name </th>
                                <th> Squad Size </th>
                                <th> Market Value </th>
                                <th> Avg Players Value </th>
                                <th> Average Age </th>
                                <th> Current Transfer Record </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% team.forEach(team => { %>
                                    <tr>
                                        <td>
                                            <img src="<%= team.teamImage %>" alt="<%= team.teamName %> Image">
                                            
                                        </td>
                                        <td><a href="/team/<%=team.id%>"><%= team.teamName %></a></td>
                                        <td><%= team.squadSize %></td>
                                        <td><%= team.marketValue %></td>
                                        <td><%= team.avgPlayerValue %></td>
                                        <td><%= team.avgAge %></td>
                                        <td><strong><%= team.transferRecord %></strong></td>

                            <%})%>                             
                        </tbody>
                    </table>
                </section>
            </main>
            <section class="footer">

                <div class="box-container">
        
                    <div class="box">
                        <h3>extra links</h3>
                        <a href="/information#aboutUs"> <i class="fas fa-arrow-right"></i> about us </a>
                        <a href="/information#copyRight"> <i class="fas fa-arrow-right"></i> copyright </a>
                        <a href="/information#privatePolicy"> <i class="fas fa-arrow-right"></i> privacy policy </a>
                        <a href="/information#paymentMethod"> <i class="fas fa-arrow-right"></i> payment method </a>
                    </div>
        
                    <div class="box">
                        <h3>contact info</h3>
                        <a href="https://www.facebook.com/sonnnayyyf" target="_blank"> <i class='far fa-id-badge'></i> Dang Trung Hieu - s3911594 </a>
                        <a href="https://www.facebook.com/profile.php?id=100011122297129" target="_blank"> <i class='far fa-id-badge'></i> Le Trung Hieu - s3818683 </a>
                        <a href="https://www.facebook.com/tuankiet.luong.218" target="_blank"> <i class='far fa-id-badge'></i> Luu Van Thien Toan - s3979512 </a>
                        <a href="https://www.facebook.com/profile.php?id=100014016729432" target="_blank"> <i class='far fa-id-badge'></i> Dang Quoc Thang - s3977877 </a>
                    </div>
        
                </div>
        
                <div class="credit"> created by <span>Group 6</span> | all rights reserved! </div>
        
            </section>
        </section>

        







    <script src="js/simpleScript.js"></script>
    
</body>
</html>
<script>
    document.getElementById('searchInputteam').addEventListener('keyup', function() {
        const searchValue = this.value.toLowerCase();
        const rows = document.querySelectorAll('.styled-table tbody tr');

        rows.forEach(row => {
            const cells = Array.from(row.getElementsByClassName('searchableteam'));
            const cellText = cells.map(cell => cell.textContent.toLowerCase()).join(' ');

            if (cellText.includes(searchValue)) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
    const sidebarLinks = document.querySelectorAll('.sidebar-link');
    sidebarLinks.forEach(link => {
        link.addEventListener('click', function() {
            // Remove active class from all links
            sidebarLinks.forEach(link => link.classList.remove('active'));
            // Add active class to the clicked link
            this.classList.add('active');
        });
    });
});
</script>