<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Account Page</title>

   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="/css/myAccount.css">
    <link rel="icon" type="image/x-icon" href="/images/fsrs.png">

</head>
<body>

    <!-- navbar -->
    <nav>
        <div class="container">
            <a href="/"><img src="./images/fsrs.png" class="logo" alt="logo"></a>
            <div class="search-bar">
                <span class="material-icons-sharp">search</span>
                <input type="search" placeholder="Search">
            </div>
            <div class="profile-area">
                <button id="menu-btn">
                    <span class="material-icons-sharp">menu</span>
                </button>
            </div>
        </div>
    </nav>

    <!-- main -->

    <main>

        <!-- aside -->
        <aside>
            <button id="close-btn">
                <span class="material-icons-sharp">close</span>
            </button>
            <div class="sidebar">
                <% if (user) { %>
                    <div class="profile-area">
                        <div class="profile-photo">
                            <img src="<%= user.profileImage %>" alt="<%= user.fullName %> Profile Picture">
                        </div>
                        <div class="profileName">
                            <h3> <%= user.fullName %> </h3>
                        </div>
                        <a href="#">
                            <span class="material-icons-sharp">settings</span>
                            <h4>Edit</h4>
                        </a>
                    </div>
                    <%} else { %>
                        <a href="/login" class="">
                            <span class="material-icons-sharp">login</span>
                            <h4>Login/Sign Up</h4>
                        </a>
                    <%} %>
                <a href="/" class="active"> 
                    <span class="material-icons-sharp">dashboard</span>
                    <h4>Dashboard</h4>
                </a>
                <a href="/deal">
                    <span class="material-icons-sharp">currency_exchange</span>
                    <h4>Deals</h4>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">pie_chart</span>
                    <h4>Analytics</h4>
                </a>
                <a href="/information">
                    <span class="material-icons-sharp">help_center</span>
                    <h4>Information</h4>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">settings</span>
                    <h4>Settings</h4>
                </a>
                <% if (user) {%>
                <a href="/logout">
                    <span class="material-icons-sharp">logout</span>
                    <h4>Logout</h4>
                </a>
                <%} %>
            </div>
        </aside>

        <!--Middle Section-->
        <div class="main-part">
            <!-- Right Half - General Information, Contact Information, Profile Image, and Name -->
            <div class="leftContainer">
                <div id="tab1" class="tab-content tab1 active">
                    <div class="text-center">
                        <img src="<%= user.profileImage %>" alt="Profile Picture" class="profilePic" id="profilePic">
                        <a href="/updateUser"><button id="editBtn">Edit Profile</button></a> 
                    </div>
                    <div class="generalInfo">
                        <h3 class="heading">General Information</h3>
                        <ul id="generalInfoList">
                            <li>Full Name: <span id="fullName"><%= user.fullName %></span></li>
                            <!-- <li>Date of Birth: <span id="dob">January 1, 1990</span></li> -->
                            <!-- <li>Gender: <span id="gender">Male</span></li> -->
                            <li>Email Address: <span id="email"><%= user.email %></span></li>
                            <li>Phone Number: <span id="phone"><%= user.phone %></span></li>
                        </ul>
                    </div>
                </div>
            
    
    <!-- add librarian -->
    <script>
        document.addEventListener('click', async function(event) {
            if (event.target.id === 'addLibrarianBtn') {
                event.preventDefault();
        
                const fullName = document.getElementById('fullName').value;
                const email = document.getElementById('email').value;
                const password = document.getElementById('password').value;
                const confirmPassword = document.getElementById('confirmPassword').value;
        
                if (password !== confirmPassword) {
                    alert('Passwords do not match');
                    return;
                }
        
                try {
                    const res = await fetch('/create-librarian-account', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ fullName: fullName, email: email, password: password }),
                    });
                    const data = await res.json();
                    if (data.error) {
                        let errorMessage = '';
                        if (data.error.includes('E11000 duplicate key error')) {
                            errorMessage += 'This email is already registered';
                        }
                        if (data.error.includes('Minimum password length is 6 characters')) {
                            errorMessage += 'Password must be at least 6 characters';
                        }
                        alert(errorMessage);
                    }
        
                    if (data.user) {  
                        alert('Librarian account created successfully');
                    }
                } catch (err) {
                    console.log(err);
                }
            }
        });
        </script>
 
    
        <!-- Search -->
        <script>
            document.getElementById('searchInputreservation').addEventListener('keyup', function() {
                const searchValue = this.value.toLowerCase();
                const rows = document.querySelectorAll('#bookTable tbody tr');
        
                rows.forEach(row => {
                    const cells = Array.from(row.getElementsByClassName('searchablereservation'));
                    const cellText = cells.map(cell => cell.textContent.toLowerCase()).join(' ');
        
                    if (cellText.includes(searchValue)) {
                        row.style.display = '';
                    } else {
                        row.style.display = 'none';
                    }
                });
            });
        </script>
        <script>
            document.getElementById('searchInputborrow').addEventListener('keyup', function() {
                const searchValue = this.value.toLowerCase();
                const rows = document.querySelectorAll('#bookTable tbody tr');
    
                rows.forEach(row => {
                    const cells = Array.from(row.getElementsByClassName('searchableborrow'));
                    const cellText = cells.map(cell => cell.textContent.toLowerCase()).join(' ');
    
                    if (cellText.includes(searchValue)) {
                        row.style.display = '';
                    } else {
                        row.style.display = 'none';
                    }
                });
            });
        </script>
        <script>
            document.getElementById('searchInputreturn').addEventListener('keyup', function() {
                const searchValue = this.value.toLowerCase();
                const rows = document.querySelectorAll('#bookTable tbody tr');
    
                rows.forEach(row => {
                    const cells = Array.from(row.getElementsByClassName('searchablereturn'));
                    const cellText = cells.map(cell => cell.textContent.toLowerCase()).join(' ');
    
                    if (cellText.includes(searchValue)) {
                        row.style.display = '';
                    } else {
                        row.style.display = 'none';
                    }
                });
            });
        </script>
        <script>
            document.getElementById('searchInputauthor').addEventListener('keyup', function() {
                const searchValue = this.value.toLowerCase();
                const rows = document.querySelectorAll('.styled-table tbody tr');
    
                rows.forEach(row => {
                    const cells = Array.from(row.getElementsByClassName('searchableauthor'));
                    const cellText = cells.map(cell => cell.textContent.toLowerCase()).join(' ');
    
                    if (cellText.includes(searchValue)) {
                        row.style.display = '';
                    } else {
                        row.style.display = 'none';
                    }
                });
            });
        </script>
        <script>
            document.getElementById('searchInputpublisher').addEventListener('keyup', function() {
                const searchValue = this.value.toLowerCase();
                const rows = document.querySelectorAll('.styled-table tbody tr');
        
                rows.forEach(row => {
                    const cells = Array.from(row.getElementsByClassName('searchablepublisher'));
                    const cellText = cells.map(cell => cell.textContent.toLowerCase()).join(' ');
        
                    if (cellText.includes(searchValue)) {
                        row.style.display = '';
                    } else {
                        row.style.display = 'none';
                    }
                });
            });
        </script>
    
    <script>
        // Get the search icon and form elements
        const searchIcon = document.getElementById('search-icon');
        const searchForm = document.querySelector('.search-form');
    
        // Add a click event listener to the search icon
        searchIcon.addEventListener('click', function() {
            // Submit the form when the search icon is clicked
            searchForm.submit();
        });
    </script>
    <script src="simpleScript.js"></script>
</body>
</html>
