<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update User Page</title>

   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/x-icon" href="/images/fsrs.png">

</head>
<body>
    <!-- navbar -->
    <nav>
        <div class="container">
            <a href="/"><img src="./images/fsrs.png" class="logo" alt="logo"></a>
            <div class="profile-area">
                <button id="menu-btn">
                    <span class="material-icons-sharp">menu</span>
                </button>
            </div>
        </div>
    </nav>

    <!-- main -->

    <main>

        <!-- aside -->
        <aside>
            <button id="close-btn">
                <span class="material-icons-sharp">close</span>
            </button>
            <div class="sidebar">
                <% if (user) { %>
                    <div class="profile-area">
                        <div class="profile-photo">
                            <img src="<%= user.profileImage %>" alt="<%= user.fullName %> Profile Picture">
                        </div>
                        <div class="profileName">
                            <h3> <%= user.fullName %> </h3>
                        </div>
                        <a href="/myAccount">
                            <span class="material-icons-sharp">settings</span>
                            <h4>Edit</h4>
                        </a>
                    </div>
                    <%} else { %>
                        <a href="/login" class="">
                            <span class="material-icons-sharp">login</span>
                            <h4>Login/Sign Up</h4>
                        </a>
                    <%} %>
                <a href="/" class="active"> 
                    <span class="material-icons-sharp">dashboard</span>
                    <h4>Dashboard</h4>
                </a>
                <a href="/deal" class="">
                    <span class="material-icons-sharp">currency_exchange</span>
                    <h4>Deals</h4>
                </a>
                <a href="/information" class="">
                    <span class="material-icons-sharp">help_center</span>
                    <h4>Information</h4>
                </a>
                <a href="/addPlayer" class="">
                    <span class="material-icons-sharp">person_add</span>
                    <h4>Add Player</h4>
                </a>
                <a href="/team" class="">
                    <span class="material-icons-sharp">add_circle</span>
                    <h4>Add Team</h4>
                </a>
                <% if (user) {%>
                <a href="/logout">
                    <span class="material-icons-sharp">logout</span>
                    <h4>Logout</h4>
                </a>
                <%} %>
            </div>
        </aside>

        <!--Middle Section-->
        <section class="middle">
            <main class="table" id="customers_table">
            
                <section class="table__body">
                    <div class="addForm">
                        <h1>Update User Profile</h1>
                        <br>
                        <form id="imageForm">
                            <label for="profileImage">Profile Image</label>
                            <input class="input-form" type="file" name="profileImage" accept="image/*"/>
                            <div class="profileImage error"></div>
                            <br>
                            <button>Save Image</button>
                        </form>
                        <br>
                        <!-- Form for updating the user's details -->
                        <form id="detailsForm">
                            <label for="fullName">Full Name*</label>
                            <input class="input-form" type="text" name="fullName" value="<%= user.fullName %>"/>
                            <div class="fullName error"></div>
                            <br>
                        
                            <label for="email">Email*</label>
                            <input class="input-form" type="text" name="email" value="<%= user.email %>"/>
                            <div class="email error"></div>
                            <br>
                        
                            <label for="password">Password*</label>
                            <input class="input-form" type="password" name="password" required/>
                            <div class="password error"></div>
                            <br>
                        
                            <button>Save Details</button>
                        </form>
                </section>
            </main>
            <section class="footer">

                <div class="box-container">
        
                    <div class="box">
                        <h3>Extra Links</h3>
                        <a href="/information"> <i class="fas fa-arrow-right"></i> About Us </a>
                        <a href="/copyright"> <i class="fas fa-arrow-right"></i> Copyright </a>
                        <a href="/privacyPolicy"> <i class="fas fa-arrow-right"></i> Privacy Policy </a>
                    </div>
        
                    <div class="box">
                        <h3>Contact Info</h3>
                        <a href="https://www.facebook.com/profile.php?id=100010671730129" target="_blank"> <i class='far fa-id-badge'></i> Dang Trung Hieu - s3911594 </a>
                        <a href="https://www.facebook.com/hieule2712" target="_blank"> <i class='far fa-id-badge'></i> Le Trung Hieu - s3818683 </a>
                        <a href="https://www.facebook.com/profile.php?id=100015410506068" target="_blank"> <i class='far fa-id-badge'></i> Luu Van Thien Toan - s3979512 </a>
                        <a href="https://www.facebook.com/profile.php?id=100014016729432" target="_blank"> <i class='far fa-id-badge'></i> Dang Quoc Thang - s3977877 </a>
                    </div>
        
                </div>
        
                <div class="credit"> created by <span>Group 6</span> | all rights reserved! </div>
        
            </section>
</body>
                    <script src="https://kit.fontawesome.com/120cd899b7.js" crossorigin="anonymous"></script>
                    <script>
                        const imageForm = document.querySelector('#imageForm');
                        const detailsForm = document.querySelector('#detailsForm');
                        const fullNameError = document.querySelector('.fullName.error');
                        const emailError = document.querySelector('.email.error');
                        const passwordError = document.querySelector('.password.error');
                        const profileImageInput = document.querySelector('input[name="profileImage"]');
                    
                        // Event listener for the image form
                        imageForm.addEventListener('submit', async (e) => {
                            e.preventDefault();
                    
                            const formData = new FormData();
                            formData.append('profileImage', profileImageInput.files[0]);
                    
                            try {
                                const res = await fetch('/updateUserImage', {
                                    method: 'POST',
                                    body: formData,
                                });
                    
                                const data = await res.json();
                                console.log(data);
                                if (data.errors) {
                                    alert(data.errors.profileImage);
                                } else {
                                    alert('Image updated successfully');
                                }
                            } catch (err) {
                                console.log(err);
                            }
                        });
                    
                        // Event listener for the details form
                        detailsForm.addEventListener('submit', async (e) => {
                        e.preventDefault();
                        // reset error
                        fullNameError.textContent = '';
                        emailError.textContent = '';
                        passwordError.textContent = '';
                    
                        const userDetails = {
                            fullName: detailsForm.fullName.value,
                            email: detailsForm.email.value,
                            password: detailsForm.password.value
                        };
                    
                        try {
                            const res = await fetch('/updateUserDetails', {
                                method: 'POST',
                                body: JSON.stringify(userDetails),
                                headers: { 'Content-Type': 'application/json' }
                            });
                    
                            const data = await res.json();
                            console.log(data);
                            if (data.errors) {
                                fullNameError.textContent = data.errors.fullName;
                                emailError.textContent = data.errors.email;
                                passwordError.textContent = data.errors.password;
                            } else {
                                window.location.href = '/myAccount';
                                alert('Details updated successfully');
                            }
                        } catch (err) {
                            console.log(err);
                        }
                    });
                    </script>
                    
                    </html>
                         
                    <script src="js/simpleScript.js"></script>